# Python Mega Course 

Apr 2, 2017

I took this 22 hours training course on Udemy.com. The instructor Ardit Sulce is a Python and GIS expert who founded PythonHow.com. 

As I get more inolved in web development and applications of machine learning, Python quickly became a must-have skill set for me to go to the next level. So I found this course very useful because it covers web, databases, web scraping, data science, web visualizations, and image processing. I may still use R for general data mining and modeling, but Python will provide more functionalities in terms of creating applications and programs.

I will share my learning here in the following sections.

## Part I
## Getting Started with Python

One should be able to download the latest Python on python.org. There's no need to delete the old version if you've installed Python 2 before. 

The author recommend the use of Atom editor which works well for application development. He recommend Jupyter though for data analysis in particular. 

What's quite interesting is the use of a terminal IDE inside Atom - if you type 'python3' in the command line editor, you'll be able to load Python 3.6 directly in the command window. That's what works for Mac OS. For Windows, a quick trick is to change the file name of python.exe into Python36.exe and then call python36 instead of python, so as to avoid opening the old Python 2.7.x. To exit the python in the terminal, simply type 'exit()'.

If you created a '*.py' file, you can execute it using command line 'python3 *.py'. This is quite convenient to store code in a .py file and then execute it in the terminal IDE all in one place.

## Part II
## Variables, Datatypes, and Functions

I believe there are more variable types in Python than what I've learned here. But the basic variables are:

* integer, e.g. 3, 5, 200; to define an integer use 'int()'
* float, e.g. 2,0, 101.67; to define a float variable, use 'float()'
* string, e.g. "abc"; to define a string, use 'str()'

There are may Datatypes also, one may use function type() to check the datatype of any objects, so to speak. There are 

* list
* tuples
* dictionaries

NOTE here the index of items in a list or in a string variable is quite different from R. In R, we start from 1 whereas in Python, the counting starts at 0. For example

In [17]:
a = "Super cool dude!"
a[0]

'S'

In [18]:
a[0:1]

'S'

In [19]:
a[1]

'u'

In [20]:
a[2]

'p'

In [21]:
a[-1]

'!'

In [22]:
a[0:6]

'Super '

In [23]:
a[6]

'c'

Index can be tricky for a beginner like me.

The course also covered some basic math functions, mostly basic operations like the following.

In [24]:
100 + 20*5**2/4

225

In [25]:
50 % 7 # this is the remainder of 50/7

1

In [26]:
50/7 # in Python 2.7, this calculation returns integer while in Python 3, it gives a float variable.

7

The instructor didn't go much further into math which means I'll probably hae to pick it up from other sources later.

## Part III
## Logic Expressions and Loops

This is relatively simple because  most of the functions are similar to R. The major differences is the replacement of brakets with indentation to indicate code blocks, and the additional use of ":" in Python. For example

In [36]:
for i in range(5):
    print "t=",i

t= 0
t= 1
t= 2
t= 3
t= 4

In [38]:
a = 99

if a > 99:
    print "Number a is greater than 99"
elif a == 99:
    print 'Number a is equal to 99'
else:
    print "Number a is smaller than 99"

Number a is equal to 99

## Part IV
## User Inputs and File Handling

User inputs are quite fun as it adds interactive components to the program we create. Jupyter handle some of the user inputs as the follows but it doesn't seem to work in other situations.

In [39]:
age = input("How old are you? ")

How old are you? 60

In [40]:
age

60

Reading and writing *.txt files is very cool. There are several key commands for example, to read a txt file,

In [44]:
file = open("example.txt", 'w')

file.write("Line 1\n")
file.write("Line 2")

file.close() # the changes can only be seen after closing the file

## Part V
## More Functionalities

## Part VI
## Data Analysis with Pandas

Pandas is a library providing data structure and data analysis tools within Python. It allows you to load data from different sources and store them in the forms of tables, text or dataframes. To install pandas, enter 'pip3 install pandas', and it will be automatically installed to your computer. See more details about Pandas at pandas.pydata.org

In [10]:
import pandas

df = pandas.DataFrame([[1, 5, 8], [3,6,9], [7,4,2]], columns = ["Quantity", "Price", "Cost"])
df.mean()

Quantity    3.666667
Price       5.000000
Cost        6.333333
dtype: float64

In [11]:
df.max()

Quantity    7
Price       6
Cost        9
dtype: int64

### Reading data
In the following session, we will code to import data from various data sources.

In [1]:
import os
os.getcwd()

'/Users/lucky1eva/Python notes'

In [2]:
os.listdir('/Users/lucky1eva/Python notes')

['.ipynb_checkpoints',
 '2017-04-02-12-04-39',
 '__pycache__',
 'app1-text-generator.py',
 'conditionals.py',
 'example.txt',
 'example2.txt',
 'example3.txt',
 'Import-data-using-Pandas.ipynb',
 'Issues_copy.txt',
 'Lecture notes (1).ipynb',
 'Lecture Notes - Python Numpy - Chapter 2 .ipynb',
 'Lecture notes.ipynb',
 'myconditionals.py',
 'myfunction.py',
 'myfunction2.py',
 'myfunction3.py',
 'myloop.py',
 'myloop2.py',
 'myloop3.py',
 'myprogram.py',
 'myprogram2.py',
 'myprogram3.py',
 'myprogram4.py',
 'name_gen.py',
 'openfiles.py',
 'Python Mega Course.ipynb',
 'R Programming Notes-Copy1.ipynb',
 'R Programming Notes.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'user_input.py']

In [4]:
import pandas

df1=pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df1.set_index("ID") # this set ID as index

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df2=pandas.read_json("supermarkets.json")
df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [8]:
df3=pandas.read_excel("supermarkets.xlsx", sheetname=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df5=pandas.read_csv("supermarkets-semi-colons.txt", sep=';')
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

Notice that the indexing of sheets in the excel file also starts from 0.

In the code below, we'll learn the indexing and slicing of dataframes. 

### Indexing and Slicing

We can use any column as index. For example

In [10]:
df5.set_index("Address")

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

We can also use label indexing such like

In [12]:
df6=df5.set_index("Address")
df6.loc["332 Hill St":"551 Alvarado St", "Name"]

Address
332 Hill St         Super River
3995 23rd St         Ben's Shop
1056 Sanchez St         Sanchez
551 Alvarado St      Richvalley
Name: Name, dtype: object

In [13]:
df6.iloc[1:4, 1:3]

                         City             State
Address
735 Dolores St  San Francisco          CA 94119
332 Hill St     San Francisco  California 94114
3995 23rd St    San Francisco          CA 94114

It seems to me that the indexing is just another way to select rows and columns. Of course there should be more efficient methods for subsetting dataframes.

### Deleting columns or rows

To delete a certain column, use df.drop() function:

In [14]:
df6.drop("Country", 1) 
# 1 means you want to delete columns

                 ID           City             State          Name  Employees
Address
3666 21st St      1  San Francisco          CA 94114       Madeira          8
735 Dolores St    2  San Francisco          CA 94119   Bready Shop         15
332 Hill St       3  San Francisco  California 94114   Super River         25
3995 23rd St      4  San Francisco          CA 94114    Ben's Shop         10
1056 Sanchez St   5  San Francisco        California       Sanchez         12
551 Alvarado St   6  San Francisco          CA 94114    Richvalley         20

In [22]:
# one can also delete columns using
df6.drop(df6.columns[1:3],1)

                 ID Country          Name  Employees
Address
3666 21st St      1     USA       Madeira          8
735 Dolores St    2     USA   Bready Shop         15
332 Hill St       3     USA   Super River         25
3995 23rd St      4     USA    Ben's Shop         10
1056 Sanchez St   5     USA       Sanchez         12
551 Alvarado St   6     USA    Richvalley         20

To delete rows, do this

In [15]:
df6.drop("332 Hill St", 0) 
# 0 means you want to delete rows.

                 ID           City       State Country         Name  Employees
Address
3666 21st St      1  San Francisco    CA 94114     USA      Madeira          8
735 Dolores St    2  San Francisco    CA 94119     USA  Bready Shop         15
3995 23rd St      4  San Francisco    CA 94114     USA   Ben's Shop         10
1056 Sanchez St   5  San Francisco  California     USA      Sanchez         12
551 Alvarado St   6  San Francisco    CA 94114     USA   Richvalley         20

In [16]:
df6.drop(df6.index[1:3], 0) 
# you may also use the indexing to drop rows

                 ID           City       State Country        Name  Employees
Address
3666 21st St      1  San Francisco    CA 94114     USA     Madeira          8
3995 23rd St      4  San Francisco    CA 94114     USA  Ben's Shop         10
1056 Sanchez St   5  San Francisco  California     USA     Sanchez         12
551 Alvarado St   6  San Francisco    CA 94114     USA  Richvalley         20

### Adding new columns or rows

We can add columns of the same length as the index.

In [23]:
df6["Continent"] = df6.shape[0]*["North America"]
df6

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,North America
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,North America
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,North America
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,North America
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,North America
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,North America

In [24]:
df6_t = df6.T  # this is the transposed dataframe 
df6_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
ID,1,2,3,4,5,6
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,North America,North America,North America,North America,North America,North America

Now let's look at a real world example of geocoding addresses using pandas. For this exercise we need to install 'geopy' to Python. 

This will help us get the corresponding altitudes and latitutes of any location.

In [27]:
import geopy
from geopy.geocoders import Nominatim

In [29]:
nom=Nominatim()

In [30]:
n=nom.geocode("7373 Valley View Lane, Dallas, TX 75240")

In [31]:
n

Location((32.926108, -96.778965, 0.0))

In [32]:
dir(n)

['__class__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__getattribute__',
 '__getitem__',
 '__hash__',
 '__init__',
 '__iter__',
 '__len__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '_address',
 '_point',
 '_raw',
 '_tuple',
 'address',
 'altitude',
 'latitude',
 'longitude',
 'point',
 'raw']

In [33]:
n.longitude

-96.778965

In [34]:
n.altitude

0.0

In [36]:
n.latitude

32.926108

So we will now use the geocode methods to our dataframe df1. We will construct a column using the geocodes.

In [48]:
df=pandas.read_csv("supermarkets-semi-colons.txt", sep=';')
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [49]:
df["Address"]=df['Address']+","+df["City"]+","+df["State"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Richvalley,20

In [56]:
n=nom.geocode(df1["Address"][0])
n

Location((37.7564888776, -122.429343347, 0.0))

In [57]:
df["Address"]

0           3666 21st St,San Francisco,CA 94114
1         735 Dolores St,San Francisco,CA 94119
2    332 Hill St,San Francisco,California 94114
3           3995 23rd St,San Francisco,CA 94114
4      1056 Sanchez St,San Francisco,California
5        551 Alvarado St,San Francisco,CA 94114
Name: Address, dtype: object

In [58]:
# We create a 'Coordinates' column using apply()

df["Coordinates"]=df["Address"].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St,San Francisco,California 94114",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Liberty Street Historic Dis..."
3,4,"3995 23rd St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,"551 Alvarado St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

We want to create two columns to show the Latitude and Longitude.

In [62]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude
0,1,"3666 21st St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489
1,2,"735 Dolores St,San Francisco,CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN
2,3,"332 Hill St,San Francisco,California 94114",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Liberty Street Historic Dis...",37.755725
3,4,"3995 23rd St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,5,"1056 Sanchez St,San Francisco,California",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146
5,6,"551 Alvarado St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673

In [63]:
df["Longitude"]=df["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,"735 Dolores St,San Francisco,CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St,San Francisco,California 94114",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Liberty Street Historic Dis...",37.755725,-122.428601
3,4,"3995 23rd St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St,San Francisco,California",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,"551 Alvarado St,San Francisco,CA 94114",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220

So we have both columns created as shown in the table above. The issue with NaN value in the Coordinates column is handled by the 'if-else' conditionals. This example reminded me of the apply() function in R. However, I have never used a if-else inside of this function before. So that's cool.

## Part VII
## Numpy

## Application 1. 
## Building a Text Generator Application

We first build a generator() function to randomly generate a three-letter string

In [1]:
import random, string

def generator():
    letter1=random.choice(string.ascii_lowercase)
    letter2=random.choice(string.ascii_lowercase)
    letter3=random.choice(string.ascii_lowercase)
    name=letter1+letter2+letter3

    return(name)

print(generator())

jqo

We then add User input to customize the names generated using vowels, consonants, or random letters.

In [5]:
import random, string

vowels = "aeiouy"
consonants = "bcdfghjklmnpyrstvwxz"
letters = string.ascii_lowercase

letter_input_1=input("What letter do you want? Enter 'v' for vowels, 'c' for consonants, 'l' for any letter: ")
letter_input_2=input("What letter do you want? Enter 'v' for vowels, 'c' for consonants, 'l' for any letter: ")
letter_input_3=input("What letter do you want? Enter 'v' for vowels, 'c' for consonants, 'l' for any letter: ")

def generator():
    if letter_input_1 == 'v':
        letter1 = random.choice(vowels)
    elif letter_input_1 == 'c':
        letter1 = random.choice(consonants)
    elif letter_input_1 == 'l':
        letter1 = random.choice(letters)
    if letter_input_2 == 'v':
        letter2 = random.choice(vowels)
    elif letter_input_2 == 'c':
        letter2 = random.choice(consonants)
    elif letter_input_2 == 'l':
        letter2 = random.choice(letters)
    if letter_input_3 == 'v':
        letter3 = random.choice(vowels)
    elif letter_input_3 == 'c':
        letter3 = random.choice(consonants)
    elif letter_input_3 == 'l':
        letter3 = random.choice(letters)

    name=letter1+letter2+letter3

    return(name)

print(generator())

KeyboardInterrupt:

The user input can't be processed here interactively but you get the idea. Try it out on a terminal using command line in Python. You'll get a three-letter name based on your inputs.